<%= form_for(@permission) do |f| %>
  <% if @permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      <ul>
      <% @permission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :userID %><br />
    <%= f.number_field :userID %>
  </div>
  <div class="field">
    <%= f.label :charID %><br />
    <%= f.number_field :charID %>
  </div>
  <div class="field">
    <%= f.label :PermissionStatus %><br />
    <%= f.number_field :PermissionStatus %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
