<h1>Listing permissions</h1>

<table>
  <tr>
    <th>Userid</th>
    <th>Charid</th>
    <th>Permissionstatus</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @permissions.each do |permission| %>
  <tr>
    <td><%= permission.userID %></td>
    <td><%= permission.charID %></td>
    <td><%= permission.PermissionStatus %></td>
    <td><%= link_to 'Show', permission %></td>
    <td><%= link_to 'Edit', edit_permission_path(permission) %></td>
    <td><%= link_to 'Destroy', permission, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Permission', new_permission_path %>
