<p id="notice"><%= notice %></p>

<p>
  <b>Gameid:</b>
  <%= @game.GameID %>
</p>

<p>
  <b>Systemid:</b>
  <%= @game.SystemID %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
