<p id="notice"><%= notice %></p>

<p>
  <b>Systemid:</b>
  <%= @system.SystemId %>
</p>

<p>
  <b>Name:</b>
  <%= @system.Name %>
</p>

<p>
  <b>Diesystem:</b>
  <%= @system.Diesystem %>
</p>

<p>
  <b>Classbased:</b>
  <%= @system.ClassBased %>
</p>

<p>
  <b>Genre:</b>
  <%= @system.Genre %>
</p>


<%= link_to 'Edit', edit_system_path(@system) %> |
<%= link_to 'Back', systems_path %>
